@model shop.Models.Accounts.LoginViewModel

<h1>Local Account Login</h1>

<div>
    <form asp-action="Login" method="post" asp-controller="Accounts" enctype="multipart/form-data">
        <div class="form-group row">
            <label asp-for="Email" class="col-sm-2 col-form-label"></label>
            <div class="form-group row">
                <input asp-for="Email" class="form-control">
                <span asp-validation-for="Email" class="text-center"></span>
            </div>
        </div>

        <div class="form-group row">
            <label asp-for="Password" class="col-sm-2 col-form-label"></label>
            <div class="form-group row">
                <input asp-for="Password" class="form-control" type="password">
                <span asp-validation-for="Password" class="text-center"></span>
            </div>
        </div>
        <div class="form-check mt-2">
            <input class="form-check-input" asp-for="RememberMe"/>
            <label class="form-check-label" asp-for="RememberMe">Remember me</label>
        </div>
        <button type="submit" class="btn btn-primary mt-2">Login</button>
        <div class="mt-2">
            <a asp-action="ForgotPassword">Forgot Password?</a>
        </div>

    </form>
</div>
<br />
<br />
<br />  
<h1>External Login</h1>