@model shop.Models.Weather.OpenWeatherViewModel

<div class="container mt-4">
    <a asp-controller="OpenWeather" asp-action="OpenWeather" class="btn btn-success">Check current weather via OpenWeatherMap</a>
</div>